
@font-face {
    font-family: "alexana_neueregular";
    src: url("alexana_neue-webfont.woff2") format('woff2'),
         url("alexana_neue-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ===================================================================================
   =================================== HTML NODES ====================================
   =================================================================================== */
   
body {
    background: url(../images/backgroundImage.png);
    overflow-x: hidden;
    overflow-y: auto;
}
img {
    position: relative;
    /* max-width: 150px;
    max-height: 150px; */
    max-width: 30vw;
    max-width: 30vw;
}
label {
    font-size: 24pt;
    font-weight: bold;
    margin-bottom: -30px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.787);
    text-shadow: 0px 2px 30px rgb(255, 197, 73);
    user-select: none;
}


.messageDiv {
    position: relative;
    margin-bottom: 30px;
    background: rgba(0, 0, 0, 0.397);
    border-radius: 15px;
    border: rgb(33, 37, 41) 2px solid;
}
    .messageUsername {
        font-size: 40px;
    }
    .messageMessage {
        font-size: 18px;
    }
    .messageTimestamp {
        text-align: right;
        padding-right: 20px;
    }



.big {
    font-size: 40px;
}
.small {
    font-size: 10px;
}
.blue {
    color: blue;
}
.red {
    color: red;
}
.yellow {
    color: yellow;
}
.green {
    color: rgb(0, 202, 0);
}
.glow {
    color: rgb(255, 229, 111);
    animation: glow 2s infinite ease;
}
    @keyframes glow {
        0% {
            text-shadow: 0px 0px 20px rgb(255, 230, 0);
            filter: drop-shadow(0px 0px 10px black);
        }
        50% {
            text-shadow: 0px 0px 00px rgb(255, 230, 0);
            filter: drop-shadow(0px 0px 20px black);
        }
        100% {
            text-shadow: 0px 0px 20px rgb(255, 230, 0);
            filter: drop-shadow(0px 0px 10px black);
        }
    }
.rotate {
    transform-origin: left;
    padding-left: 30px;
    animation: rotate 1s infinite ease-in-out;
}
    @keyframes rotate {
        0% {transform: rotate(0deg)}
        25% {transform: rotate(5deg)}
        75% {transform: rotate(-5deg)}
        100% {transform: rotate(0deg)}
    }
.form-control {
    border: 2px rgb(85, 72, 72) solid;
    transition: all .5s ease-in-out;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.form-control:focus {
    border: 2px rgb(85, 72, 72) solid;
    box-shadow: 0px 2px 50px 20px rgba(255, 106, 19, 0.726);
}
.form-control:hover {
    border: 2px rgb(85, 72, 72) solid;
    box-shadow: 0px 2px 50px 20px rgba(255, 106, 19, 0.726);
}
.form-control::placeholder {
    font-weight: bold;
    color: rgb(90, 77, 77);
}
.form-group {
    background: rgba(0, 0, 0, 0.397);
    border-radius: 15px;
    border: rgb(33, 37, 41) 2px solid;
}
#chatDiv {
    background: rgba(54, 48, 48, 0.438);
}
#chatInput {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 40px;
    width: 100%;
    resize: none;
    text-transform: none;
    background: rgba(139, 87, 51, 0.678);
    color: white;
    border-bottom: none;
}
#chatInput::placeholder {
    text-align: center;
    color: white;
}
#chatNote {
    color:rgb(255, 255, 255);
    text-shadow: 0px 1px rgb(0, 0, 0);
    background-image: linear-gradient(rgb(255, 180, 60), rgb(255, 117, 54));
    border: 2px rgb(85, 72, 72) solid;
    transition: all .5s ease-in-out;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#chatNote:focus {
    border: 2px rgb(85, 72, 72) solid;
    box-shadow: 0px 2px 50px 20px rgba(255, 106, 19, 0.726);
}
#chatText {
    font-size: 15px;
}
#chatUsername {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 30px;
    -webkit-text-stroke-width:2px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.787);
}
#globalChat {
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    overflow-x: hidden;
    overflow-y: auto; 
    overflow-wrap: break-word;
    height: 415px;
    background: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 2px rgb(85, 72, 72) solid;
    background: rgba(85, 75, 75, 0.692);

}
#username {
    color: rgb(255, 233, 107);
}