
@font-face {
    font-family: "alexana_neueregular";
    src: url("alexana_neue-webfont.woff2") format('woff2'),
         url("alexana_neue-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ===================================================================================
   =================================== HTML NODES ====================================
   =================================================================================== */

a {
    font-size: 20px;
    color: rgb(255, 206, 45);
    text-decoration: underline;
}
a:hover {
    color: orange;
    text-shadow: 0px 0px 10px rgb(255, 123, 0);
}  
body {
    background: url(../images/backgroundImage.png);
    overflow-x: hidden;
    overflow-y: auto;
    /* box-shadow: 0px 0px 100px 10px rgba(255, 94, 0, 0.555) inset; */
}
img {
    position: relative;
    max-width: 20vw;
    max-width: 20vw;
}
label {
    font-size: 24pt;
    font-weight: bold;
    margin-bottom: -30px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.787);
    text-shadow: 0px 2px 30px rgb(255, 197, 73);
    user-select: none;
}
h3 {
    color: white;
}
h2 {
    color: white;
}
hr {
    border-top: 2px white solid;
    width: 80%;
}
span {
    color: white;
}
table {
    size: 10vw;
}
textarea {
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(90, 77, 77);
}

/* ===================================================================================
   ==================================== CLASSES ======================================
   =================================================================================== */
.buttonToggle {
    filter: saturate(.8);
    background-image: linear-gradient(rgb(255, 180, 60), rgb(255, 117, 54));
    width: 48%;
    border:2px rgb(71, 63, 63) solid;
    border-radius: 50px;
    opacity: .5;
    transition: all .5s ease;
}
.buttonToggle:focus {
    filter: saturate(.7);
    background-image: linear-gradient(rgb(255, 180, 60), rgb(255, 117, 54));
    width: 48%;
    border:2px rgb(71, 63, 63) solid;
    border-radius: 50px;
}
.buttonToggle:hover {
    opacity: .9;
}
.btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active {
    filter: saturate(1);
    background-image: linear-gradient(rgb(255, 170, 34), rgb(255, 117, 54));
    color: white;
    box-shadow: 0px 0px 20px 2px #ff7402;
    opacity: 1;
}
.featureButton {
    color:rgb(71, 63, 63) !important;
    text-shadow: 0px 1px rgb(0, 0, 0);
    background-image: linear-gradient(rgb(255, 180, 60), rgb(255, 117, 54)) !important;
    border: 2px rgb(85, 72, 72) solid;
    transition: all .5s ease-in-out;
}
    .featureButton:focus {
        color: rgb(255, 145, 0) !important;
        background-image: linear-gradient(rgb(98, 93, 85), rgb(34, 31, 29)) !important;
        border: 2px rgb(85, 72, 72) solid !important;
        box-shadow: 0px 2px 50px 20px rgba(255, 106, 19, 0.726) !important;
    }
    .featureButton:hover {
        border: 2px rgb(85, 72, 72) solid !important;
        box-shadow: 0px 2px 50px 20px rgba(255, 106, 19, 0.726) !important;
    }
.form-control {
    border: 2px rgb(85, 72, 72) solid;
    transition: all .5s ease-in-out;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
}
    .form-control:focus {
        border: 2px rgb(85, 72, 72) solid;
        box-shadow: 0px 2px 50px 20px rgba(255, 106, 19, 0.726);
    }
    .form-control:hover {
        border: 2px rgb(85, 72, 72) solid;
        box-shadow: 0px 2px 50px 20px rgba(255, 106, 19, 0.726);
    }
    .form-control::placeholder {
        font-weight: bold;
        color: rgb(90, 77, 77);
    }
.form-group {
    background: rgba(0, 0, 0, 0.493);
    border-radius: 15px;
    border: rgb(33, 37, 41) 2px solid;
}
.h1 {
    font-family: "alexana_neueregular";
    font-size: 50pt;
    color: rgb(246, 188, 80);
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.787);
    text-shadow: 0px 10px 30px rgb(33,37,41);
    user-select: none;
    z-index: 1000;
    background-color: rgba(36, 32, 32, 0.623);
    border: 3px rgb(36, 30, 30) solid;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 10px rgb(47, 47, 47);
    animation: textGlow 2s infinite ease;
}
    @keyframes textGlow {
        0% {text-shadow: 0px 10px 30px rgb(33,37,41)}
        50% {text-shadow: 0px 10px 40px rgb(255, 212, 19)}
        100% {text-shadow: 0px 10px 30px rgb(33,37,41)}
    }
.h2 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    -webkit-text-stroke-width:2px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.787);
    
}
.imgWrap {
    filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.226));
    transition: all .5s ease-in-out;
}
.imgWrap:hover {
    filter: drop-shadow(0px 0px 20px rgb(255, 255, 255));
}
.messageDiv {
    position: relative;
    margin-bottom: 30px;
    background: rgba(0, 0, 0, 0.397);
    border-radius: 15px;
    border: rgb(33, 37, 41) 2px solid;
}
    .messageUsername {
        font-size: 40px;
    }
    .messageMessage {
        font-size: 18px;
    }
    .messageTimestamp {
        text-align: right;
        padding-right: 20px;
    }
.modal-dialog {
    border: 15px rgba(255, 115, 0, 0.733) solid;
    border-radius: 5px;
    margin-top: 30%;
    border-radius: 20px;
    background: black;
    box-shadow: 0px 0px 1000px 1000px rgba(0, 0, 0, 0.863), 0px 0px 300px 300px rgb(0, 0, 0) inset;
}
.modal-body {
    background: rgb(27, 24, 24);
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 5px #ff5100;
}
.modal-footer {
    background-image: linear-gradient(rgb(255, 180, 60), rgb(255, 117, 54));
    border: none;
}
.modalText {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.noSelect {
    user-select: none;
}
    .big {
        font-size: 40px;
    }
    .small {
        font-size: 10px;
    }
    .blue {
        color: blue;
    }
    .red {
        color: red;
    }
    .yellow {
        color: yellow;
    }
    .green {
        color: rgb(0, 202, 0);
    }
    .glow {
        color: rgb(255, 229, 111);
        animation: glow 2s infinite ease;
    }
        @keyframes glow {
            0% {
                text-shadow: 0px 0px 20px rgb(255, 230, 0);
                filter: drop-shadow(0px 0px 10px black);
            }
            50% {
                text-shadow: 0px 0px 00px rgb(255, 230, 0);
                filter: drop-shadow(0px 0px 20px black);
            }
            100% {
                text-shadow: 0px 0px 20px rgb(255, 230, 0);
                filter: drop-shadow(0px 0px 10px black);
            }
        }
    .rotate {
        transform-origin: left;
        padding-left: 30px;
        animation: rotate 1s infinite ease-in-out;
    }
        @keyframes rotate {
            0% {transform: rotate(0deg)}
            25% {transform: rotate(5deg)}
            75% {transform: rotate(-5deg)}
            100% {transform: rotate(0deg)}
        }
.table {
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.294);
}
.td1{
    font-size: 5vw;
}
.td2{
    font-size: 3vw;
}
.td3{
    font-size: 2vw;
}
/* ===================================================================================
   ================================== UNIQUE ID'S ====================================
   =================================================================================== */

#aboutBg {
    background: rgb(54, 48, 48);
}
#aboutHeader {
    border-bottom: none;
}
#aboutModal {
    position: fixed;
    top: -100px;
    width: 100%;
    transition: all .5s ease;
}
#aboutTitle {
    font-family: "alexana_neueregular";
    font-size: 50pt;
    color: rgb(246, 188, 80);
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.787);
    text-shadow: 0px 10px 30px rgb(33,37,41);
    user-select: none;
    z-index: 1000;
    animation: textGlow 2s infinite ease;
}
#artistImg {
    max-width: 30vw;
    max-height: 20vw;
    clip-path: circle(40% at 50% 50%);
    transition: all .5s ease;
    filter: grayscale(2);
}
    #artistImg:hover {
        box-shadow: 0px 0px 10px 10px rgb(255, 178, 54), 0px 0px 50px 20px rgb(46, 40, 38);
        transform: rotate(360deg);
        filter: grayscale(.5);
    }
#altRow {
    margin-top: 5%;
}
#altImg1{
    max-width: 30vw;
    max-height: 10vw;
    clip-path: circle(40% at 50% 50%);
    transition: all .5s ease;
    filter: grayscale(2);
}
    #altImg1:hover {
        box-shadow: 0px 0px 10px 10px rgb(255, 178, 54), 0px 0px 50px 20px rgb(46, 40, 38);
        transform: rotate(-360deg);
        filter: grayscale(.5);
    }
#altImg2{
    max-width: 30vw;
    max-height: 9vw;
    clip-path: circle(40% at 50% 50%);
    transition: all .5s ease;
    filter: grayscale(2);
}
    #altImg2:hover {
        box-shadow: 0px 0px 10px 10px rgb(255, 178, 54), 0px 0px 50px 20px rgb(46, 40, 38);
        transform: rotate(360deg);
        filter: grayscale(.5);
    }
#altImg3{
    max-width: 30vw;
    max-height: 8vw;
    clip-path: circle(40% at 50% 50%);
    transition: all .5s ease;
    filter: grayscale(2);
}
    #altImg3:hover {
        box-shadow: 0px 0px 10px 10px rgb(255, 178, 54), 0px 0px 50px 20px rgb(46, 40, 38);
        transform: rotate(-360deg);
        filter: grayscale(.5);
    }
#altImg4{
    max-width: 30vw;
    max-height: 7vw;
    clip-path: circle(40% at 50% 50%);
    transition: all .5s ease;
    filter: grayscale(2);
}
    #altImg4:hover {
        box-shadow: 0px 0px 10px 10px rgb(255, 178, 54), 0px 0px 50px 20px rgb(46, 40, 38);
        transform: rotate(360deg);
        filter: grayscale(.5);
    }
    #altImg5{
        max-width: 30vw;
        max-height: 6vw;
        clip-path: circle(40% at 50% 50%);
        transition: all .5s ease;
        filter: grayscale(2);
    }
        #altImg5:hover {
            box-shadow: 0px 0px 10px 10px rgb(255, 178, 54), 0px 0px 50px 20px rgb(46, 40, 38);
            transform: rotate(-360deg);
            filter: grayscale(.5);
        }
#attribution {
    color: white;
    font-weight: bold;
}
#bottomDiv {
    margin-top: 100px;
}
#chat {
    position: relative;
    top: -100%;
    right: -40%;
    width: 500px;
    z-index: 100;
    border: 3px rgb(36, 30, 30) solid;
}
#chatDiv {
    margin-top: 20px;
    opacity: 0;
    /* transition: all 1s ease-in; */
}
#chatInput {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 40px;
    width: 100%;
    resize: none;
    text-transform: none;
    background: rgba(139, 87, 51, 0.678);
    color: white;
    border-bottom: none;
}
    #chatInput::placeholder {
        color: white;
        text-align: center;
    }
#chatNote {
    position: relative;
    top: -10px;
    color:rgb(255, 255, 255);
    text-shadow: 0px 1px rgb(0, 0, 0);
    background-image: linear-gradient(rgb(255, 180, 60), rgb(255, 117, 54));
    border: 2px rgb(85, 72, 72) solid;
    transition: all .5s ease-in-out;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: all .5s ease;
}
    #chatNote:focus {
        border: 2px rgb(85, 72, 72) solid;
        box-shadow: 0px 2px 50px 20px rgba(255, 106, 19, 0.726);
    }
#chatText {
    font-size: 15px;
    transition: all .5s ease;
}
#chatUsername {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 30px;
    -webkit-text-stroke-width:2px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.787);
}
#closeButton {
    font-size: 20px;
    color: rgb(255, 255, 255);
    border: 2px rgb(85, 72, 72) solid;
    background-image: linear-gradient(rgb(255, 180, 60), rgb(255, 117, 54));
}
    #closeButton:focus {
        border: 2px rgb(85, 72, 72) solid;
        box-shadow: 0px 2px 20px 10px rgba(255, 106, 19, 0.692);
    }
#closeButton2 {
    font-size: 20px;
    color: rgb(255, 255, 255);
    border: 2px rgb(85, 72, 72) solid;
    background-image: linear-gradient(rgb(255, 180, 60), rgb(255, 117, 54));
}
    #closeButton2:focus {
        border: 2px rgb(85, 72, 72) solid;
        box-shadow: 0px 2px 20px 10px rgba(255, 106, 19, 0.692);
    }
#favoritesBg {
    background: rgb(54, 48, 48);
}
#favoriteButton {
    margin-top: 15px;
    background-image: linear-gradient(rgb(255, 180, 60), rgb(255, 117, 54));
    border: 2px rgb(85, 72, 72) solid;
    color: #3d3333;
    font-weight: bold;
}
    #favoriteButton:focus {
        background-image: linear-gradient(rgb(255, 180, 60), rgb(255, 117, 54));
        border: 2px rgb(85, 72, 72) solid;
        box-shadow: 0px 2px 20px 10px rgba(255, 106, 19, 0.692);
    }
#favoritesHeader {
    border-bottom: none;
}
#favoritesModal {
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: -200px;
    width: auto;
    transition: all .5s ease;
}
#favoritesTitle {
    font-family: "alexana_neueregular";
    font-size: 50pt;
    color: rgb(246, 188, 80);
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.787);
    text-shadow: 0px 10px 30px rgb(33,37,41);
    user-select: none;
    z-index: 1000;
    animation: textGlow 2s infinite ease;
    margin-bottom: 20px;
}
#genresTitle {
    font-size: 15px;
}
#newFavDiv {
    background: rgb(39, 35, 35);
    border: 3px rgb(255, 124, 37) solid;
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 100px 10px rgba(233, 119, 12, 0.342) inset;
}
#newFavImg {
    max-width:20vw;
    max-height: 20vw;
    clip-path: circle(40% at 50% 50%);
    transition: all .5s ease;
    filter: grayscale(2);
    position: relative;
}
#newFavImg:hover {
    filter: grayscale(.5);
}
#newFavName {
    font-size: 30px;
    text-transform: uppercase;
    font-family: "alexana_neueregular";
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-shadow: 0px 0px 10px #000000af;
}
#favoritesReset {
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: .375rem .75rem;
    line-height: 1.5;
    border-radius: .25rem;
    border: 2px rgb(255, 102, 0) solid;
    transition: all .2s ease-in-out;
    background: rgb(255, 102, 0);
}
#favoritesReset:hover {
    border: 2px red solid;
    background: red;
    animation: warningFlash .5s infinite ease-in-out;
}
#favoritesReset:focus {
    box-shadow: 0px 0px 20px 5px rgba(255, 0, 0, 0.555);
}
@keyframes warningFlash {
    0% {background: red;}
    50% {background: rgb(255, 102, 0);}
    100% {background: red;}
}
#featureButtons {
    margin-top: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    background: rgba(39, 34, 34, 0.685);
    border-top: 3px rgb(36, 30, 30) solid;
}
#featuredImage {
    max-width: 30vw;
    max-height: 20vw;
    clip-path: circle(40% at 50% 50%);
    transition: all .5s ease;
    filter: grayscale(2);
    position: relative;
}
#featuredImage:hover {
    box-shadow: 0px 0px 10px 10px rgb(255, 178, 54), 0px 0px 50px 20px rgb(46, 40, 38);
    transform: rotate(360deg);
    filter: grayscale(.5);
}
#featuredText {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
}
#findEventLink {
    text-decoration: none !important;
}
#genius {
    max-width: 10vw;
}
#genresDiv {
    margin-top: 30px;
}
#globalChat {
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
    height: 130px;
    background: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 2px rgb(85, 72, 72) solid;
    background: rgba(85, 75, 75, 0.692);

}
#inputRow {
    border: 3px rgb(36, 30, 30) solid;
    background: rgba(36, 30, 30, 0.356);
    padding-top: 30px;
    padding-bottom: 15px;
    margin: 30px auto 0 auto;
    border-radius: 15px;
    box-shadow: 0px 0px 30px 30px rgba(255, 93, 18, 0.294),
    0px 0px 100px 20px rgba(36, 31, 31, 0.835) inset;
    z-index: 100;
}
    #artistNameForm {
        height: 40px;
        background-image: linear-gradient(rgb(255, 180, 60), rgba(255, 118, 54, 0.993));
        resize: none;
    }
    #albumNameForm {
        height: 40px;
        background-image: linear-gradient(rgb(255, 180, 60), rgb(255, 117, 54));
        resize: none;
    }
    #songNameForm {
        height: 40px;
        background-image: linear-gradient(rgb(255, 180, 60), rgb(255, 117, 54));
        resize: none;
    }
    #yearNameForm {
        height: 40px;
        background-image: linear-gradient(rgb(255, 180, 60), rgb(255, 117, 54));
        resize: none;
    }
#instructions{
    position: relative;
    top: -50px;
    left: -20%;
    width: 40%;
    opacity: 1;
    pointer-events: none;
    user-select: none;
    z-index: -100;
    animation: instrFadeIn 4s ease-in-out;
    transition: opacity 2s ease-in-out;
}
    @keyframes instrFadeIn {
        0% {opacity: 0;}
        50% {opacity: 0;}
        100% {opacity: 1;}
    }
#loginBody {
    text-align: center;
}
#loginClose {
    font-size: 20px;
    color: rgb(47, 40, 40);
    border: 2px rgb(85, 72, 72) solid;
    background-image: linear-gradient(rgb(255, 131, 60), rgb(255, 117, 54));
}
    #loginClose:focus {
        font-size: 20px;
        color: rgb(47, 40, 40);
        border: 2px rgb(85, 72, 72) solid;
        background-image: linear-gradient(rgb(255, 131, 60), rgb(255, 117, 54));
        box-shadow: 0px 0px 5px 5px #3d3333;
    }
#loginHeader {
    background-image: linear-gradient(rgb(255, 180, 60), rgb(255, 117, 54));
    color: rgb(32, 28, 27);
}
#loginTitle {
    font-weight: bold;
    margin: auto;
}
    #greeting {
        text-align: center;
    }
#loginModal {
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: -10%;
    width: 100%;
}
.loginSearch {
    font-size: 40px;
    margin-bottom: -30px;
    z-index: 1000;
}
.loginImg {
    max-width: 20vw;
    max-height: 20vw;
    clip-path: circle(30% at 50% 50%);
    transition: all .5s ease;
    filter: grayscale(2);
}
.loginImg:hover {
    box-shadow: 0px 0px 10px 10px rgb(255, 178, 54), 0px 0px 50px 20px rgb(46, 40, 38);
    transform: rotate(360deg);
    filter: grayscale(.5);
}
#newSearchDiv {
    margin-bottom: 5%;
    background: rgb(39, 35, 35);
    border: 3px rgb(255, 124, 37) solid;
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 100px 10px rgba(233, 119, 12, 0.342) inset;
}
#metricsDiv {
    margin-top: -300px;
    border: 3px rgb(36, 30, 30) solid;
    box-shadow: 0px 0px 30px 30px rgba(255, 102, 0, 0.37);
}
#metricsRow {
    background: rgba(26, 23, 23, 0.815);
}
#modalHeader {
    background-image: linear-gradient(rgb(255, 180, 60), rgb(255, 117, 54));
}
#modalTitle {
    color: rgb(65, 53, 53);
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0px 0px 30px rgb(255, 220, 66);

}
#popOutChat {
    position: relative;
    top: -10px;
    color:rgb(255, 255, 255);
    text-shadow: 0px 1px rgb(0, 0, 0);
    background-image: linear-gradient(rgb(255, 180, 60), rgb(255, 117, 54));
    border: 2px rgb(85, 72, 72) solid;
    transition: all .5s ease-in-out;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
    #popOutChat:focus {
        border: 2px rgb(85, 72, 72) solid;
        box-shadow: 0px 2px 50px 20px rgba(255, 106, 19, 0.726);
    }
#relatedArtists {
    color: rgb(223, 221, 219);
    margin-bottom: -15px;
    border-bottom: 2px white solid;
}
#responseModal {
    display: none;
}
#resultsDiv {
    position: relative;
    border: white solid 5px;    
    width:  100%;
    height: auto;
    border: 2px rgb(42, 37, 37) solid;
    background: rgba(34, 32, 32, 0.904);
    padding-top: 30px;
    padding-bottom: 40px;
    margin: 0 auto 0 auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 100;
    transition: all .3s ease-in-out;
    box-shadow: 0px 0px 20px 20px rgba(39, 34, 34, 0.89) inset;
}
#resultsmindiv {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px rgb(42, 37, 37) solid;
    margin-top:20px;
    background: rgba(34, 32, 32, 0.904);
    width: 100%;
    
    padding: 0;
    display: none;
    transition: all .3s ease-in-out;
}
button#resultsminbtn {
    background-image: linear-gradient(rgb(255, 180, 60), rgb(255, 117, 54));
    padding: 0 10px 0 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 1.6em;
    line-height: 1.14em;

}
    #resultsArtistName {
        font-size: 3vw;
        font-weight: bold;
        color: white;
        z-index: 1000;
    }
    #resultsContent {
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: 2.5vw;
    }
#searchButton {
    margin-top: 15px;
    background-image: linear-gradient(rgb(255, 180, 60), rgb(255, 117, 54));
    width: 100%;
    font-weight: bold;
    color: rgb(184, 84, 26);
    border:2px rgb(71, 63, 63) solid;
    border-radius: 50px;
}
    #searchButton:focus{
        background-image: linear-gradient(rgb(255, 180, 60), rgb(255, 117, 54));
        width: 100%;
        font-weight: bold;
        color: rgb(184, 84, 26);
        border:2px rgb(71, 63, 63) solid;
        box-shadow: 0px 0px 15px 5px rgba(255, 205, 68, 0.424);
    }
#searchClose {
    background-image: linear-gradient(rgb(255, 180, 60), rgb(255, 117, 54));
    padding: 0 10px 0 10px;
    font-weight: bolder;
    font-size: 1.29em;
    color: black;
    border: none;

}
#songSparrowLogo {
    position: relative;
    top: 10%;
    left: -15%;
    width: 50%;
    user-select: none;
    transition: all .5s ease-in-out;
    animation: logoAnim 2s, logoIdle 2s infinite;
    animation-delay: 0s, 3s;
}
    @keyframes logoAnim {
        0% {
            filter: saturate(1);
            transform: rotate(-30deg);
            left: -50%;
            width: 0px;
        }
        70% {
            filter: saturate(2)
        }
    }
    @keyframes logoIdle {
        0% {filter: saturate(1), drop-shadow(0px 0px 40px #ff5100)}
        50% {filter: saturate(1.5) drop-shadow(0px 0px 10px #ff5100)}
        100% {filter: saturate(1), drop-shadow(0px 0px 40px #ff5100)}
    }
#songsDiv {
    margin-top: 30px;
}
#songTitle {
    font-size: 15px;
}
#spotify {
    width: 100%;
    height: 100%;
}
#username {
    color: rgb(255, 233, 107);
}


#seatGeekRow {
    display: none;
    margin: none;
}
#seatGeekResultsTitle {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
#seatGeekResultsEventDate {
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
#seatGeekResultsEventName{
    margin: auto;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
#seatGeekResultsEventCity{
    margin: auto;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
#seatGeekResultsEventVenue{
    margin: auto;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
#seatGeekResultsEventAddress {
    margin: auto;
    color: white;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}
#seatGeekResultsEventPrice {
    margin: auto;
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}
#seatGeekSubRowL {
    margin: 0;
}
#seatGeekSubRowR {
    margin-right: 0;
}
    #eventImage {
        position: relative;
        width: 100%;
        margin: 0;
    }
    #findEventButton {
        background-image: linear-gradient(rgb(255, 180, 60), rgb(255, 117, 54));
        border: 2px rgb(85, 72, 72) solid;
        color: #3d3333;
        font-weight: bold;
        width: 100%;
    }

        #findEventButton:focus {
            background-image: linear-gradient(rgb(255, 180, 60), rgb(255, 117, 54));
            border: 2px rgb(85, 72, 72) solid;
            box-shadow: 0px 2px 20px 10px rgba(255, 106, 19, 0.692);
        }
    #warningText {
        display: none;
        font-weight: bold;
        color: red;
        text-shadow: 0px 0px 10px #cf0000;
    }
/* ===================================================================================
   ================================= MEDIA QUERIES ===================================
   =================================================================================== */
@media (max-width: 2300px) {
    #resultsContent {
        font-size: 2vw;
    }
    .td1 {
        font-size: 1.5vw;
    }
    .td2 {
        font-size: 1.4vw;
    }
    .td3 {
        font-size: 1.3vw;
    }
    .table {
        margin-top: 8%;
    }
}
@media (max-width: 2200px) {
    #bottomDiv {
        width: 50%;
    }
    #songSparrowLogo {
        position: relative;
        left: -300px;
    }
    #chat {
        position: relative;
        left: 300px;
        width: 100%;
    }
    #globalChat {
        height: 200px;
    }
    #aboutModal {
        top: -350px;
    }
}

@media (max-width: 1920px) {
    #bottomDiv {
        width: 50%;
    }
    #songSparrowLogo {
        position: relative;
        left: -350px;
    }
    #chat {
        position: relative;
        left: 300px;
        width: 100%;
    }
    #globalChat {
        height: 200px;
    }
}
@media (max-width: 1850px) {
    #bottomDiv {
        width: 50%;
    }
    #songSparrowLogo {
        position: relative;
        left: -320px;
    }
    #chat {
        position: relative;
        left: 400px;
        top: -95%;
        width: 90%;
    }
    #globalChat {
        height: 200px;
    }
}
@media (max-width: 1750px) {
    #bottomDiv {
        width: 50%;
    }
    #songSparrowLogo {
        position: relative;
        left: -270px;
        top: 0px;
    }
    #chat {
        position: relative;
        left: 40%;
        width: 39vw;
    }
    #globalChat {
        height: 200px;
    }
}
@media (max-width: 1550px) {
    #aboutModal {
        top: -300px;
    }   
    #favoritesModal {
        top: -100px;
    } 
}
@media (max-width: 1500px) {
    #bottomDiv {
        margin-top: 200px;
    }
    #songSparrowLogo {
        position: relative;
        width: 50%;
        top: -3vw;
        left: -270px;
    }
    #instructions {
        display: none;
    }
    #chat {
        position: relative;
        left: 200px;
        width: 50vw;
    }
    #globalChat {
        height: 200px;
    }
    .td1 {
        font-size: 2.5vw;
    }
    .td2 {
        font-size: 2vw;
    }
    .td3 {
        font-size: 1vw;
    }
    .table {
        margin-top: 8%;
    }
}
@media (max-width: 1200px) {
    #songSparrowLogo {
        width: 300px;
        left: -180px;
    }
    #aboutModal {
        top: -200px;
    }   
    #chat {
        width: 80%;
        left: 50%;
    }
    #globalChat {
        height: 100px;
    }
}
@media (max-width: 950px) {
    #bottomDiv {
        margin-top: 270px;
    }
}
@media (max-width: 880px) {
    #songSparrowLogo {
        width: 300px;
        left: -180px;
    }
    #chat {
        width: 85%;
        left: 60%;

    }
    #globalChat {
        height: 100px;
    }
}
@media (max-width: 850px) {
    #aboutModal {
        top: -100px;
    }   
}
@media (max-width: 792px) {
    #bottomDiv {
        margin-top: 340px;
    }
    #songSparrowLogo {
        display: none;
    }
    #chatNote {
        display: none;
    }
    #chat {
        width: 600px;
        left: -120px;
        top: -320px;
    }
    #globalChat {
        height: 300px;
    }
    label.btn.buttonToggle {
        font-size: .8em;
    }
}
@media (max-width: 800px) {
    #resultsContent {
        font-size: 2vw;
    }
}
@media (max-width: 700px) {
    #songSparrowLogo {
        width: 300px;
        left: -180px;
        display: none;
    }
    #chatNote {
        display: none;
    }
    #chat {
        margin-top: 0px;
        width: 150%;
        left: -24%;
        top: -320px;
    }
    #globalChat {
        height: 200px;
    }
    label {
    font-size: 1em;
    }
    label.btn.buttonToggle {
        font-size: .6em;
    }
}
@media (max-width: 570px) {
    #songSparrowLogo {
        width: 300px;
        left: -180px;
        display: none;
    }
    #chatNote {
        display: none;
    }
    #chat {
        width: 150%;
        left:-60px;
        top: -320px;
    }
    #globalChat {
        height: 200px;
    }
    .messageUsername {
        font-size: 30px;
    }

}