/* CUSTOM FONTS: Use the font family listed below */
@font-face {
    font-family: 'alexanaregular';
    src: url('alexana-webfont.woff') format('woff2')
         url('alexana-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    background: url(../images/backgroundImage.png);
}
#app_title {
    font-family: 'alexanaregular';
}